@CHARSET "UTF-8";

.login_box {
	margin: 200px auto;
	height: 300px;
	width: 200px;
	border: #AAAAAA 1px solid;
}

.box_title {
	text-align: center;
}

.login_form {
	margin-left: 15px;
	height: 231px;
	width: 170px;
}

.reg_box {
	margin: 100px auto auto auto ;
	height: 500px;
	width: 600px;
	border: #AAAAAA 1px solid;
}
.reg_table{
	margin: auto;
}

.sub_box {
	margin: auto;
}

.sub_but {
	border: none;
}

input {
	border: none;
	border-bottom: #AAAAAA 1px solid;
	height: 30px;
	width: 170px;
}
